<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
		<link rel="stylesheet" href="assets/css/style.css" type="text/css" />
		<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
		<link href="assets/css/bootstrap.css" rel="stylesheet">
		<link href="assets/css/magnific-popup.css" rel="stylesheet">  
		<link rel="stylesheet" type="text/css" href="assets/css/slick.css">    
		<link rel="stylesheet" type="text/css" href="assets/css/bootstrap-datepicker.css">          
		<link href='https://fonts.googleapis.com/css?family=Prata' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Tangerine' rel='stylesheet' type='text/css'>   
		<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
		<link href="https://fonts.googleapis.com/css?family=Dancing+Script:400,700" rel="stylesheet">
		<link id="switcher" href="assets/css/theme-color/green-theme.css" rel="stylesheet">
		<title>Yana`s Vegeterian Restaurant</title>
		<script src="assets/js/burger.js"></script>
		<script src="assets/js/soup.js"></script>
		<script src="assets/js/vegan_roll.js"></script>
		<script src="assets/js/salad.js"></script>
		<script src="assets/js/drink.js"></script>
		<script src="assets/js/reservation.js"></script>
		<script src="assets/js/contact.js"></script>
	</head>
		{{{ body }}}
</html>
